html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  --ui-font: Assistant, system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  font-family: var(--ui-font);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  overflow: hidden;
}

* {
  box-sizing: inherit;
}

div#root {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  inset: 0;

  overflow: hidden;

  padding: var(--padding-2x);

  background: linear-gradient(
    135deg,
    var(--yellow) 20%,
    var(--orange) 20%,
    var(--orange) 40%,
    var(--purple) 40%,
    var(--purple) 60%,
    var(--violet) 60%,
    var(--violet) 80%,
    var(--blue) 80%,
    var(--blue)
  );
}
