.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: 100%;

  padding: 0 var(--padding-2x);
}

.juno {
  grid-column-start: 2;
  align-self: center;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 200px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: var(--padding);

  text-decoration: none;

  background: black;
  color: white;
  border: 1px solid black;
  box-shadow: var(--box-shadow-short);

  padding: var(--padding-0_5x) var(--padding-2x);

  transition: color 0.15s ease-out, background 0.15s ease-out,
    transform 0.15s ease-out, box-shadow 0.25s ease-out, border 0.15s ease-out;

  border-radius: var(--border-radius);

  &:active {
    box-shadow: none;
    transform: translateY(3px);
  }

  &:hover:not(:disabled):not(:active),
  &:focus:not(:disabled):not(:active) {
    transform: scale(1.05);
  }
}

.github {
  display: flex;
  justify-content: flex-end;

  margin: var(--padding-0_5x) 0 0;
}